@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
  font-family: "poppins";
}

@mixin borderSolid {
  border: 1px solid rgb(148, 50, 240);
}

@mixin shadow {
  box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
}

@mixin styleButton {
  background-color: rgb(148, 50, 240);
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "poppins";
  letter-spacing: 1px;
}

@mixin border($border) {
  border-radius: $border;
}

.display-none {
  display: none;
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);

@media (max-width: 321px) {
  .container-login {
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 3%;
    right: 3%;
    @include borderSolid();
    @include border(5px);
    @include shadow();

    .container-main-login {
      padding: 10px 12px;
      .content-img-title {
        .container-img-login {
          width: 100%;

          .img {
            width: 100%;
          }
        }

        .container-title {
          text-align: center;
          margin: 10px 0 8px 0;

          .title {
            color: blueviolet;
            letter-spacing: 1px;
          }
        }
      }

      .login {
        .container-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .content-form-input-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            .label-input {
              width: 100%;
              .label {
                p {
                  color: blueviolet;
                  letter-spacing: 1px;
                }
              }

              .input-login {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                input {
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                  color: rgba(137, 43, 226, 0.651);
                }

                input::placeholder {
                  color: rgba(137, 43, 226, 0.651);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                input:focus-visible {
                  color: rgba(137, 43, 226, 0.651);
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  outline: 1.5px solid blueviolet;
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                .container-icons-password {
                  position: absolute;
                  right: 25px;

                  .icon-visualizar-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }

                  .icon-esconder-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    // right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }
                }
              }
            }

            .content-btn-login {
              margin-top: 8px;

              button {
                @include styleButton();
                padding: 5px 35px;
                color: #fff;
              }
            }
          }
        }

        .container-userUndefined {
          margin: 20px 0;
          padding: 0 20px;
          background-color: rgba(156, 83, 224, 0.166);
          @include borderSolid();
          @include border(5px);

          .content-link {
            margin-top: 15px;
            text-align: center;

            .link {
              color: blueviolet;
              font-size: 13px;
            }
          }

          .content-description-link {
            margin: 15px 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .description-title {
              .title {
                font-size: 10.5px;
                color: blueviolet;
                margin-bottom: 10px;
              }
            }

            .description {
              margin-top: 1px;
              // text-decoration: line-through;

              .paragrafo-description {
                font-size: 10.5px;

                strong {
                  color: rgba(137, 43, 226, 0.774);
                }

                span {
                  color: blueviolet;
                }
              }
            }
          }
        }
      }
    }
  }

  .container-animation-login {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 10%;
    right: 10%;
    top: 5%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-sucesso {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 10%;
    right: 10%;
    top: 5%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 5%;
    right: 5%;
    top: 15%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;
    background-color: #fff;
    text-align: center;
    padding: 20px 5px;

    p {
      color: blueviolet;
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      //font-family: "poppins";

      i {
        margin-right: 5px;
      }
    }
  }

  body.darkmode {
    .container-login {
      background-color: $background-dark;
      border: 1px solid rgba(106, 105, 105, 0.988);
      box-shadow: none;

      .container-main-login {
        .content-img-title {
          .container-img-login {
            .img {
              opacity: 0.9;
            }
          }

          .container-title {
            .title {
              color: #ffffffe0;
            }
          }
        }

        .login {
          .container-form {
            .content-form-input-btn {
              .label-input {
                .label {
                  p {
                    color: #ffffffe0;
                  }
                }

                .input-login {
                  input {
                    background-color: rgba(106, 105, 105, 0.788);
                    color: #ffffffe0;
                    border: 1px solid rgba(106, 105, 105, 0.988);
                  }

                  input::placeholder {
                    color: #ffffffe0;
                  }

                  input:focus-visible {
                    background-color: rgba(106, 105, 105, 0.788);
                    outline: 1.5px solid #cccccc93;
                  }
                  .container-icons-password {
                    .icon-visualizar-password {
                      i {
                        color: #ffffffe0;
                      }
                    }

                    .icon-esconder-password {
                      i {
                        color: #ffffffe0;
                      }
                    }
                  }
                }
              }

              .content-btn-login {
                button {
                  background-color: rgba(106, 105, 105, 0.788);
                  color: #ffffffe0;
                }
              }
            }
          }

          .container-userUndefined {
            border: 1px solid rgba(106, 105, 105, 0.788);
            background-color: rgba(106, 105, 105, 0.788);
            .content-link {
              .link {
                color: #ffffffe0;
              }
            }

            .content-description-link {
              .description-title {
                .title {
                  color: #ffffffe0;
                }
              }

              .description {
                .paragrafo-description {
                  strong {
                    color: #ffffffe0;
                  }

                  span {
                    color: #ffffffe0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .container-animation-login {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-sucesso {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      i {
        color: #ffffffe0;
      }

      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-error {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
        i {
          color: #ffffffe0;
        }
      }
    }
  }
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);

@media (min-width: 322px) and (max-width: 576px) {
  .container-login {
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 3%;
    right: 3%;
    top: 10%;
    @include borderSolid();
    @include border(5px);
    @include shadow();

    .container-main-login {
      padding: 10px 12px;
      .content-img-title {
        .container-img-login {
          width: 100%;

          .img {
            width: 100%;
          }
        }

        .container-title {
          text-align: center;
          margin: 10px 0 8px 0;

          .title {
            color: blueviolet;
            letter-spacing: 1px;
          }
        }
      }

      .login {
        .container-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .content-form-input-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            .label-input {
              width: 100%;
              .label {
                p {
                  color: blueviolet;
                  letter-spacing: 1px;
                }
              }

              .input-login {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                input {
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                  color: rgba(137, 43, 226, 0.651);
                }

                input::placeholder {
                  color: rgba(137, 43, 226, 0.651);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                input:focus-visible {
                  color: rgba(137, 43, 226, 0.651);
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  outline: 1.5px solid blueviolet;
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                .container-icons-password {
                  position: absolute;
                  right: 25px;

                  .icon-visualizar-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    // right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }

                  .icon-esconder-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }
                }
              }
            }

            .content-btn-login {
              margin-top: 8px;

              button {
                @include styleButton();
                padding: 5px 35px;
                color: #fff;
              }
            }
          }
        }

        .container-userUndefined {
          margin: 20px 40px;
          padding: 0 20px;
          background-color: rgba(156, 83, 224, 0.166);
          @include borderSolid();
          @include border(5px);

          .content-link {
            margin-top: 15px;
            text-align: center;

            .link {
              color: blueviolet;
              font-size: 13px;
            }
          }

          .content-description-link {
            margin: 15px 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .description-title {
              .title {
                margin-bottom: 10px;

                font-size: 10.5px;
                color: blueviolet;
              }
            }

            .description {
              margin-top: 1px;
              //  text-decoration: line-through;

              .paragrafo-description {
                font-size: 10.5px;

                strong {
                  color: rgba(137, 43, 226, 0.774);
                }

                span {
                  color: blueviolet;
                }
              }
            }
          }
        }
      }
    }
  }

  .container-animation-login {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 15%;
    right: 15%;
    top: 20%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-sucesso {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 14%;
    right: 14%;
    top: 20%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 17px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 10%;
    right: 10%;
    top: 20%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;
    text-align: center;
    padding: 20px 5px;

    p {
      color: blueviolet;
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      //font-family: "poppins";

      i {
        margin-right: 5px;
      }
    }
  }

  body.darkmode {
    .container-login {
      background-color: $background-dark;
      border: 1px solid rgba(106, 105, 105, 0.988);
      box-shadow: none;

      .container-main-login {
        .content-img-title {
          .container-img-login {
            .img {
              opacity: 0.9;
            }
          }

          .container-title {
            .title {
              color: #ffffffe0;
            }
          }
        }

        .login {
          .container-form {
            .content-form-input-btn {
              .label-input {
                .label {
                  p {
                    color: #ffffffe0;
                  }
                }

                .input-login {
                  input {
                    background-color: rgba(106, 105, 105, 0.788);
                    color: #ffffffe0;
                    border: 1px solid rgba(106, 105, 105, 0.988);
                  }

                  input::placeholder {
                    color: #ffffffe0;
                  }

                  input:focus-visible {
                    background-color: rgba(106, 105, 105, 0.788);
                    outline: 1.5px solid #cccccc93;
                  }

                  .container-icons-password {
                    .icon-visualizar-password {
                      i {
                        color: #ffffffe0;
                      }
                    }

                    .icon-esconder-password {
                      i {
                        color: #ffffffe0;
                      }
                    }
                  }
                }
              }

              .content-btn-login {
                button {
                  background-color: rgba(106, 105, 105, 0.788);
                  color: #ffffffe0;
                }
              }
            }
          }

          .container-userUndefined {
            border: 1px solid rgba(106, 105, 105, 0.788);
            background-color: rgba(106, 105, 105, 0.788);
            .content-link {
              .link {
                color: #ffffffe0;
              }
            }

            .content-description-link {
              .description-title {
                .title {
                  color: #ffffffe0;
                }
              }

              .description {
                .paragrafo-description {
                  strong {
                    color: #ffffffe0;
                  }

                  span {
                    color: #ffffffe0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .container-animation-login {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-sucesso {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      i {
        color: #ffffffe0;
      }

      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-error {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
        i {
          color: #ffffffe0;
        }
      }
    }
  }
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);

@media (min-width: 576px) and (max-width: 1120px) {
  .container-login {
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 20%;
    right: 20%;
    top: 10%;
    @include borderSolid();
    @include border(5px);
    @include shadow();

    .container-main-login {
      padding: 10px 12px;
      .content-img-title {
        .container-img-login {
          width: 100%;

          .img {
            height: 300px;
            width: 100%;
          }
        }

        .container-title {
          text-align: center;
          margin: 15px 0 8px 0;

          .title {
            color: blueviolet;
            letter-spacing: 1px;
            font-size: 40px;
          }
        }
      }

      .login {
        .container-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .content-form-input-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            .label-input {
              width: 100%;
              .label {
                p {
                  color: blueviolet;
                  letter-spacing: 1px;
                }
              }

              .input-login {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                input {
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                  color: rgba(137, 43, 226, 0.651);
                }

                input::placeholder {
                  color: rgba(137, 43, 226, 0.651);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                input:focus-visible {
                  color: rgba(137, 43, 226, 0.651);
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  outline: 1.5px solid blueviolet;
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                .container-icons-password {
                  position: absolute;
                  right: 25px;
                  .icon-visualizar-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }

                  .icon-esconder-password {
                    position: absolute;
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }
                }
              }
            }

            .content-btn-login {
              margin-top: 20px;

              button {
                @include styleButton();
                padding: 5px 35px;
                color: #fff;
              }
            }
          }
        }

        .container-userUndefined {
          margin: 25px 50px;
          padding: 0 20px;
          background-color: rgba(156, 83, 224, 0.166);
          @include borderSolid();
          @include border(5px);

          .content-link {
            margin-top: 15px;
            text-align: center;

            .link {
              color: blueviolet;
              font-size: 16px;
            }
          }

          .content-description-link {
            margin: 15px 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .description-title {
              .title {
                font-size: 13px;
                color: blueviolet;

                margin-bottom: 10px;
              }
            }

            .description {
              margin-top: 1px;
              // text-decoration: line-through;

              .paragrafo-description {
                font-size: 12.4px;

                strong {
                  color: rgba(137, 43, 226, 0.774);
                }

                span {
                  color: blueviolet;
                }
              }
            }
          }
        }
      }
    }
  }

  .container-animation-login {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 30%;
    right: 30%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 20px 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-sucesso {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 30%;
    right: 30%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 20px 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 25%;
    right: 25%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;
    text-align: center;
    padding: 20px 10px;

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      //font-family: "poppins";

      i {
        margin-right: 5px;
      }
    }
  }

  body.darkmode {
    .container-login {
      background-color: $background-dark;
      border: 1px solid rgba(106, 105, 105, 0.988);
      box-shadow: none;

      .container-main-login {
        .content-img-title {
          .container-img-login {
            .img {
              opacity: 0.9;
            }
          }

          .container-title {
            .title {
              color: #ffffffe0;
            }
          }
        }

        .login {
          .container-form {
            .content-form-input-btn {
              .label-input {
                .label {
                  p {
                    color: #ffffffe0;
                  }
                }

                .input-login {
                  input {
                    background-color: rgba(106, 105, 105, 0.788);
                    color: #ffffffe0;
                    border: 1px solid rgba(106, 105, 105, 0.988);
                  }

                  input::placeholder {
                    color: #ffffffe0;
                  }

                  input:focus-visible {
                    background-color: rgba(106, 105, 105, 0.788);
                    outline: 1.5px solid #cccccc93;
                  }

                  .container-icons-password {
                    .icon-visualizar-password {
                      i {
                        color: #ffffffe0;
                      }
                    }

                    .icon-esconder-password {
                      i {
                        color: #ffffffe0;
                      }
                    }
                  }
                }
              }

              .content-btn-login {
                button {
                  background-color: rgba(106, 105, 105, 0.788);
                  color: #ffffffe0;
                }
              }
            }
          }

          .container-userUndefined {
            border: 1px solid rgba(106, 105, 105, 0.788);
            background-color: rgba(106, 105, 105, 0.788);
            .content-link {
              .link {
                color: #ffffffe0;
              }
            }

            .content-description-link {
              .description-title {
                .title {
                  color: #ffffffe0;
                }
              }

              .description {
                .paragrafo-description {
                  strong {
                    color: #ffffffe0;
                  }

                  span {
                    color: #ffffffe0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .container-animation-login {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-sucesso {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      i {
        color: #ffffffe0;
      }

      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-error {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
        i {
          color: #ffffffe0;
        }
      }
    }
  }
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);

body.darkmode {
  background-color: $background-dark;
  color: $color-text;
}

@media (min-width: 1121px) {
  .container-login {
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 37%;
    right: 37%;
    top: 7%;
    @include borderSolid();
    @include border(5px);
    @include shadow();

    .container-main-login {
      padding: 10px 12px;
      .content-img-title {
        .container-img-login {
          width: 100%;

          .img {
            height: 300px;
            width: 100%;
          }
        }

        .container-title {
          text-align: center;
          margin: 15px 0 8px 0;

          .title {
            color: blueviolet;
            letter-spacing: 1px;
            font-size: 40px;
          }
        }
      }

      .login {
        .container-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .content-form-input-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            .label-input {
              width: 100%;
              .label {
                p {
                  color: blueviolet;
                  letter-spacing: 1px;
                }
              }

              .input-login {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                  color: rgba(137, 43, 226, 0.651);
                }

                input::placeholder {
                  color: rgba(137, 43, 226, 0.651);
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                input:focus-visible {
                  color: rgba(137, 43, 226, 0.651);
                  padding: 10px;
                  @include borderSolid();
                  @include border(5px);
                  outline: 1.5px solid blueviolet;
                  transition: all 30ms ease-in-out;
                  letter-spacing: 1px;
                  width: 100%;
                }

                .container-icons-password {
                  position: absolute;
                  right: 25px;

                  .icon-visualizar-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }

                  .icon-esconder-password {
                    text-align: center;
                    transform: translateX(-50%, -50%);
                    //right: 25px;
                    // @include border(50%);

                    i {
                      color: blueviolet;
                      padding: 5px;
                    }
                  }
                }
              }
            }

            .content-btn-login {
              margin-top: 20px;

              button {
                @include styleButton();
                padding: 5px 35px;
                color: #fff;
              }
            }
          }
        }

        .container-userUndefined {
          margin: 25px 60px;
          padding: 0 20px;
          background-color: rgba(156, 83, 224, 0.166);
          @include borderSolid();
          @include border(5px);

          .content-link {
            margin-top: 15px;
            text-align: center;

            .link {
              color: blueviolet;
              font-size: 15px;
            }
          }

          .content-description-link {
            margin: 15px 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .description-title {
              .title {
                font-size: 13px;
                color: blueviolet;
                margin-bottom: 10px;
              }
            }

            .description {
              margin-top: 1px;
              // text-decoration: line-through;

              .paragrafo-description {
                font-size: 12.4px;

                strong {
                  color: rgba(137, 43, 226, 0.774);
                }

                span {
                  color: blueviolet;
                }
              }
            }
          }
        }
      }
    }
  }

  .container-animation-login {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 40%;
    right: 40%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 20px 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-sucesso {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 40%;
    right: 40%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;

    i {
      font-size: 25px;
    }

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 20px 10px;
      //font-family: "poppins";
    }
  }

  .container-animation-login-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 35%;
    right: 35%;
    top: 25%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #fff;
    text-align: center;
    padding: 20px 10px;

    p {
      color: blueviolet;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1.5px;
      //font-family: "poppins";

      i {
        margin-right: 5px;
      }
    }
  }

  body.darkmode {
    .container-login {
      background-color: $background-dark;
      border: 1px solid rgba(106, 105, 105, 0.988);
      box-shadow: none;

      .container-main-login {
        .content-img-title {
          .container-img-login {
            .img {
              opacity: 0.9;
            }
          }

          .container-title {
            .title {
              color: #ffffffe0;
            }
          }
        }

        .login {
          .container-form {
            .content-form-input-btn {
              .label-input {
                .label {
                  p {
                    color: #ffffffe0;
                  }
                }

                .input-login {
                  input {
                    background-color: rgba(106, 105, 105, 0.788);
                    color: #ffffffe0;
                    border: 1px solid rgba(106, 105, 105, 0.988);
                  }

                  input::placeholder {
                    color: #ffffffe0;
                  }

                  input:focus-visible {
                    background-color: rgba(106, 105, 105, 0.788);
                    outline: 1.5px solid #cccccc93;
                  }

                  .container-icons-password {
                    .icon-visualizar-password {
                      i {
                        color: #ffffffe0;
                      }
                    }

                    .icon-esconder-password {
                      i {
                        color: #ffffffe0;
                      }
                    }
                  }
                }
              }

              .content-btn-login {
                button {
                  background-color: rgba(106, 105, 105, 0.788);
                  color: #ffffffe0;
                }
              }
            }
          }

          .container-userUndefined {
            border: 1px solid rgba(106, 105, 105, 0.788);
            background-color: rgba(106, 105, 105, 0.788);
            .content-link {
              .link {
                color: #ffffffe0;
              }
            }

            .content-description-link {
              .description-title {
                .title {
                  color: #ffffffe0;
                }
              }

              .description {
                .paragrafo-description {
                  strong {
                    color: #ffffffe0;
                  }

                  span {
                    color: #ffffffe0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .container-animation-login {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-sucesso {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      i {
        color: #ffffffe0;
      }

      p {
        color: #ffffffe0;
      }
    }

    .container-animation-login-error {
      background-color: rgba(106, 105, 105, 0.688);
      box-shadow: none;
      border: 1px solid rgba(106, 105, 105, 0.688);
      p {
        color: #ffffffe0;
        i {
          color: #ffffffe0;
        }
      }
    }
  }
}
