@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
}

@mixin borderSolid {
  border: 1px solid rgb(148, 50, 240);
}

@mixin shadow {
  box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
}

@mixin styleButton {
  background-color: rgb(148, 50, 240);
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "poppins";
  letter-spacing: 1px;
}

@mixin border($border) {
  border-radius: $border;
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);
$color-text-dark: #ffffffe0;
$background-border-dark: rgba(141, 139, 139, 0.788);
$background-color: rgba(106, 105, 105, 0.788);

body.darkmode {
  background-color: $background-dark;
  color: $color-text;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

@media (max-width: 321px) {
  .borda {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    margin: 40px 10px;

    .content-dark {
      text-align: end;
      width: 100%;
      margin: 10px -10px 10px;

      .button-dark {
        background-color: blueviolet;
        min-width: 31px;
        min-height: 31px;
        text-align: center;
        @include border(15%);

        .dark-mode {
          margin-top: 5px;
          font-size: 15px;
          color: #fff;
        }

        .sun-mode {
          margin-top: 5px;
          font-size: 15px;
          color: #fff;
        }
      }
    }

    .flex-row {
      padding: 10px;

      .content-icon-destaque {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-destaque {
          width: 250px;
          height: 200px;
        }
      }

      .align-center {
        display: flex;
        flex-direction: column;
        width: 100%;

        .container-title {
          margin: 0;

          .title {
            text-align: center;
            font-size: 20px;
            font-family: "poppins";
            font-weight: 600;
            letter-spacing: 1.5px;
          }

          .title::before {
            content: "";
            width: 105px;
            height: 2px;
            position: absolute;
            margin-top: 29px;
            background-color: blueviolet;
          }

          .title::after {
            content: "";
            width: 105px;
            height: 3px;
            position: absolute;
            margin-top: -2px;
            margin-left: -105px;
            background-color: maroon;
          }
        }

        .content-senha-gerada {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: blueviolet;
          font-size: 15px;
          margin-top: 30px;
          font-family: "poppins", sans-serif;
          font-weight: 400;

          .sub-content-senha-gerada {
            background-color: blueviolet;
            @include border(6px);
            color: #fff;
            padding: 5px;
            letter-spacing: 0.5px;

            .senha-gerada {
              max-width: 190px;
              min-width: 191px;
              height: 23px;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
            }
          }

          .icon-key {
            background-color: blueviolet;
            padding: 5px 10px;
            color: white;
            @include border(15%);

            .transform-icon-key {
              transform: scaleX(-1) rotate(45deg);
            }
          }

          .icon-copy {
            background-color: blueviolet;
            padding: 5px 10px;
            color: white;
            @include border(15%);
          }
        }

        .content-option {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          margin-top: 25px;

          .sub-content-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blueviolet;
            letter-spacing: 1px;

            .toggle {
              height: 30px;
              width: 50px;
            }

            .toggle::after {
              height: 26px;
              width: 27px;
            }

            .sr-only:checked + .toggle::after {
              transform: translate(19.5px);
            }
          }
        }
      }
    }

    .content-button {
      text-align: center;
      margin: 25px 0 15px;

      button {
        background-color: blueviolet;
        color: white;
        padding: 8px 10px;
        @include border(5px);
        transition: all 0.2s ease-in-out;
        font-weight: 600;
      }

      button i {
        margin-right: 8px;
      }

      button:hover {
        background-color: rgb(103, 22, 180);
        color: rgba(255, 255, 255, 0.899);
        padding: 8px 10px;
        @include border(5px);
      }
    }
  }

  .modal-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 20px;
    z-index: 100;
    background-color: #fff;

    .content-closed {
      text-align: end;
      margin-bottom: 20px;

      .modal-closed {
        background-color: blueviolet;
        color: #fff;
        padding: 8px 10px;
        @include border(5px);
        font-size: 18px;
      }
    }

    .modal-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .content-mensage {
        width: 100%;

        .mensage-error {
          text-align: center;
          font-weight: 600;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }

      .content-img-error {
        .img-error {
          text-align: center;
          width: 200px;
        }
      }
    }
  }

  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }

  //MODO ESCURO PARA CELULAR-MOBILE
  body.darkmode {
    background-color: $background-dark;
    color: $color-text;

    .content-dark {
      .button-dark {
        background-color: rgba(106, 105, 105, 0.788);

        .dark-mode {
          color: #ffffffe0;
        }
      }
    }

    .borda {
      box-shadow: none;
      border: none;
      border: 1px solid rgb(53, 51, 51);
      background-color: rgb(53, 51, 51);

      .flex-row {
        .align-center {
          .container-title {
            margin: 0;

            .title {
              text-align: center;
              font-size: 20px;
              font-family: "poppins";
              font-weight: 600;
              letter-spacing: 1.5px;
            }

            .title::before {
              content: "";
              width: 105px;
              height: 2px;
              position: absolute;
              margin-top: 29px;
              background-color: #ffffffe0;
            }

            .title::after {
              content: "";
              width: 105px;
              height: 3px;
              position: absolute;
              margin-top: -2px;
              margin-left: -105px;
              background-color: #ffffffe0;
            }
          }

          .content-senha-gerada {
            .sub-content-senha-gerada {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-key {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-copy {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }
          }

          .content-option {
            .sub-content-option {
              color: #ffffffe0;

              .toggle {
                background-color: #afadad;
              }

              .toggle:after {
                background-color: #fff;
              }

              .sr-only:checked + .toggle {
                background-color: rgba(106, 105, 105, 0.788);
              }

              .sr-only:checked + .toggle::after {
                background-color: #ccc;
              }
            }
          }
        }
      }

      .content-button {
        button {
          background-color: rgba(106, 105, 105, 0.788);
        }

        button:hover {
          background-color: rgba(106, 105, 105, 0.395);

          @include border(5px);
        }
      }
    }

    .modal-error {
      background-color: rgb(53, 51, 51);
      box-shadow: none;
      border: 1px solid rgb(53, 51, 51);

      .content-closed {
        .modal-closed {
          background-color: rgba(106, 105, 105, 0.788);
          color: #ffffffe0;
        }
      }

      .modal-flex {
        .content-mensage {
          width: 100%;

          .mensage-error {
            color: #ffffffe0;
          }
        }

        .content-img-error {
          .img-error {
            text-align: center;
            width: 300px;
          }
        }
      }
    }

    .fundo-blur {
      background-color: rgba(1, 1, 1, 0.444);
    }
  }
}

@media (min-width: 322px) and (max-width: 576px) {
  .borda {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    margin: 40px 10px;

    .content-dark {
      text-align: end;
      width: 100%;
      margin: 10px -10px 10px;

      .button-dark {
        background-color: blueviolet;
        min-width: 30px;
        min-height: 35px;
        text-align: center;
        @include border(15%);

        .dark-mode {
          margin-top: 5px;
          font-size: 15px;
          color: #fff;
        }

        .sun-mode {
          margin-top: 5px;
          font-size: 15px;
          color: #fff;
        }
      }
    }

    .flex-row {
      padding: 10px;

      .content-icon-destaque {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-destaque {
          width: 250px;
          height: 200px;
          display: block;
        }
      }

      .align-center {
        display: flex;
        flex-direction: column;

        .container-title {
          margin: 20px 0 0;

          .title {
            text-align: center;
            font-size: 25px;
            font-family: "poppins";
            font-weight: 600;
            letter-spacing: 1.5px;
          }

          .title::before {
            content: "";
            width: 105px;
            height: 2px;
            position: absolute;
            margin-top: 33px;
            background-color: blueviolet;
          }

          .title::after {
            content: "";
            width: 105px;
            height: 2px;
            position: absolute;
            margin-top: 1px;
            margin-left: -105px;
            background-color: maroon;
          }
        }

        .content-senha-gerada {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 12px;
          color: blueviolet;
          margin-top: 30px;
          font-size: 15px;
          font-family: "poppins", sans-serif;
          font-weight: 400;

          .sub-content-senha-gerada {
            background-color: blueviolet;
            @include border(5px);
            color: #fff;
            padding: 5px 10px;
            letter-spacing: 1.5px;
            text-align: center;

            .senha-gerada {
              height: 25.5px;
              max-width: 200px;
              min-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center;
            }
          }

          .icon-key {
            background-color: blueviolet;
            padding: 6.5px 10px;
            color: white;
            @include border(15%);

            .transform-icon-key {
              transform: scaleX(-1) rotate(45deg);
            }
          }

          .icon-copy {
            background-color: blueviolet;
            padding: 6.5px 10px;
            color: white;
            @include border(15%);
          }
        }

        .content-option {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          gap: 24.5px;
          margin-top: 25px;

          .sub-content-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blueviolet;
            letter-spacing: 1px;
            font-weight: 500;

            .toggle {
              height: 38px;
              width: 60px;
            }

            .toggle::after {
              height: 34px;
              width: 35px;
            }

            .sr-only:checked + .toggle::after {
              transform: translate(21px);
            }
          }
        }
      }
    }
    .content-button {
      text-align: center;
      margin: 35px 0 15px;

      button {
        background-color: blueviolet;
        color: white;
        padding: 8px 10px;
        @include border(5px);
        transition: all 0.2s ease-in-out;
        font-weight: 600;
      }

      button i {
        margin-right: 8px;
      }

      button:hover {
        background-color: rgb(103, 22, 180);
        color: rgba(255, 255, 255, 0.899);
        padding: 8px 10px;
        @include border(5px);
      }
    }
  }

  .modal-error {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 20px;
    z-index: 100;
    background-color: #fff;

    .content-closed {
      text-align: end;
      margin-bottom: 20px;

      .modal-closed {
        background-color: blueviolet;
        color: #fff;
        padding: 8px 10px;
        @include border(5px);
        font-size: 18px;
      }
    }

    .modal-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .content-mensage {
        width: 100%;

        .mensage-error {
          text-align: center;
          font-weight: 600;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }

      .content-img-error {
        .img-error {
          text-align: center;
          width: 200px;
        }
      }
    }
  }

  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }

  //MODO ESCURO PARA CELULAR-MOBILE
  body.darkmode {
    background-color: $background-dark;
    color: $color-text;

    .content-dark {
      .button-dark {
        background-color: rgba(106, 105, 105, 0.788);

        .dark-mode {
          color: #ffffffe0;
        }
      }
    }

    .borda {
      box-shadow: none;
      border: none;
      border: 1px solid rgb(53, 51, 51);
      background-color: rgb(53, 51, 51);

      .flex-row {
        .align-center {
          .container-title {
            margin: 20px 0 0;

            .title {
              text-align: center;
              font-size: 25px;
              font-family: "poppins";
              font-weight: 600;
              letter-spacing: 1.5px;
            }

            .title::before {
              content: "";
              width: 105px;
              height: 2px;
              position: absolute;
              margin-top: 33px;
              background-color: #ffffffe0;
            }

            .title::after {
              content: "";
              width: 105px;
              height: 2px;
              position: absolute;
              margin-top: 1px;
              margin-left: -105px;
              background-color: #ffffffe0;
            }
          }

          .content-senha-gerada {
            .sub-content-senha-gerada {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-key {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-copy {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }
          }

          .content-option {
            .sub-content-option {
              color: #ffffffe0;

              .toggle {
                background-color: #afadad;
              }

              .toggle:after {
                background-color: #fff;
              }

              .sr-only:checked + .toggle {
                background-color: rgba(106, 105, 105, 0.788);
              }

              .sr-only:checked + .toggle::after {
                background-color: #ccc;
              }
            }
          }
        }
      }

      .content-button {
        button {
          background-color: rgba(106, 105, 105, 0.788);
        }

        button:hover {
          background-color: rgba(106, 105, 105, 0.395);

          @include border(5px);
        }
      }
    }

    .modal-error {
      background-color: rgb(53, 51, 51);
      box-shadow: none;
      border: 1px solid rgb(53, 51, 51);

      .content-closed {
        .modal-closed {
          background-color: rgba(106, 105, 105, 0.788);
          color: #ffffffe0;
        }
      }

      .modal-flex {
        .content-mensage {
          width: 100%;

          .mensage-error {
            color: #ffffffe0;
          }
        }

        .content-img-error {
          .img-error {
            text-align: center;
            width: 300px;
          }
        }
      }
    }

    .fundo-blur {
      background-color: rgba(1, 1, 1, 0.444);
    }
  }
}

@media (min-width: 577px) and (max-width: 1120px) {
  .borda {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    margin: 40px 10px;

    .content-dark {
      text-align: end;
      width: 100%;
      margin: 10px -10px 10px;

      .button-dark {
        background-color: blueviolet;
        min-width: 56px;
        min-height: 53px;
        text-align: center;
        @include border(15%);

        .dark-mode {
          margin-top: 5px;
          font-size: 28px;
          color: #fff;
        }

        .sun-mode {
          margin-top: 5px;
          font-size: 28px;
          color: #fff;
        }
      }
    }

    .flex-row {
      padding: 10px;

      .content-icon-destaque {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-destaque {
          width: 400px;
          height: 400px;
          display: block;
        }
      }

      .align-center {
        display: flex;
        flex-direction: column;

        .container-title {
          margin: 20px 0 0;

          .title {
            text-align: center;
            font-size: 50px;
            font-family: "poppins";
            font-weight: 600;
            letter-spacing: 1.5px;
          }

          .title::before {
            content: "";
            width: 175px;
            height: 5px;
            position: absolute;
            margin-top: 67px;
            background-color: blueviolet;
          }

          .title::after {
            content: "";
            width: 175px;
            height: 5px;
            position: absolute;
            margin-top: 2px;
            margin-left: -175px;
            background-color: maroon;
          }
        }

        .content-senha-gerada {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 30px;
          color: blueviolet;
          margin-top: 60px;
          font-family: "poppins", sans-serif;
          font-weight: 400;

          .sub-content-senha-gerada {
            background-color: blueviolet;
            @include border(10px);
            color: #fff;
            padding: 6.5px 20px;
            font-size: 25px;
            letter-spacing: 1.5px;
            text-align: center;

            .senha-gerada {
              height: 42.7px;
              max-width: 344px;
              min-width: 344px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center;
            }
          }

          .icon-key {
            background-color: blueviolet;
            padding: 6.5px 20px;
            color: white;
            font-size: 28px;
            @include border(15%);

            .transform-icon-key {
              transform: scaleX(-1) rotate(45deg);
            }
          }

          .icon-copy {
            background-color: blueviolet;
            padding: 6.5px 20px;
            color: white;
            font-size: 28px;
            @include border(15%);
          }
        }

        .content-option {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          gap: 57px;
          margin-top: 45px;

          .sub-content-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blueviolet;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 30px;

            .toggle {
              height: 50px;
              width: 100px;
            }

            .toggle::after {
              height: 46px;
              width: 48px;
            }

            .sr-only:checked + .toggle::after {
              transform: translate(47px);
            }
          }
        }
      }
    }

    .content-button {
      text-align: center;
      margin: 55px 0 35px;
      font-size: 25px;

      button {
        background-color: blueviolet;
        color: white;
        padding: 5px 10px;
        @include border(5px);
        transition: all 0.2s ease-in-out;
        font-weight: 600;
      }

      button i {
        margin-right: 8px;
      }

      button:hover {
        background-color: rgb(103, 22, 180);
        color: rgba(255, 255, 255, 0.899);
        padding: 5px 10px;
        @include border(5px);
      }
    }
  }

  .modal-error {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 10%;
    @include borderSolid();
    @include shadow();
    @include border(5px);
    padding: 20px;
    z-index: 100;
    background-color: #fff;

    .content-closed {
      text-align: end;
      margin-bottom: 20px;

      .modal-closed {
        background-color: blueviolet;
        color: #fff;
        padding: 8px 10px;
        @include border(5px);
        font-size: 30px;
      }
    }

    .modal-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .content-mensage {
        width: 100%;

        .mensage-error {
          text-align: center;
          font-weight: 600;
          font-size: 25px;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }

      .content-img-error {
        .img-error {
          text-align: center;
          width: 330px;
        }
      }
    }
  }

  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }

  //MODO ESCURO PARA DESKTOP
  body.darkmode {
    background-color: $background-dark;
    color: $color-text;

    .content-dark {
      .button-dark {
        background-color: rgba(106, 105, 105, 0.788);

        .dark-mode {
          color: #ffffffe0;
        }
      }
    }

    .borda {
      box-shadow: none;
      border: none;
      border: 1px solid rgb(53, 51, 51);
      background-color: rgb(53, 51, 51);

      .flex-row {
        .align-center {
          .container-title {
            margin: 20px 0 0;

            .title {
              color: #ffffffe0;
            }

            .title::before {
              content: "";
              width: 175px;
              height: 5px;
              position: absolute;
              margin-top: 67px;
              background-color: #ffffffe0;
            }

            .title::after {
              content: "";
              width: 175px;
              height: 5px;
              position: absolute;
              margin-top: 2px;
              margin-left: -175px;
              background-color: #ffffffe0;
            }
          }

          .content-senha-gerada {
            .sub-content-senha-gerada {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-key {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-copy {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }
          }

          .content-option {
            .sub-content-option {
              color: #ffffffe0;

              .toggle {
                background-color: #afadad;
              }

              .toggle:after {
                background-color: #fff;
              }

              .sr-only:checked + .toggle {
                background-color: rgba(106, 105, 105, 0.788);
              }

              .sr-only:checked + .toggle::after {
                background-color: #ccc;
              }
            }
          }
        }
      }

      .content-button {
        button {
          background-color: rgba(106, 105, 105, 0.788);
        }

        button:hover {
          background-color: rgba(106, 105, 105, 0.395);
          @include border(5px);
        }
      }
    }

    .modal-error {
      background-color: rgb(53, 51, 51);
      box-shadow: none;
      border: 1px solid rgb(53, 51, 51);

      .content-closed {
        .modal-closed {
          background-color: rgba(106, 105, 105, 0.788);
          color: #ffffffe0;
        }
      }

      .modal-flex {
        .content-mensage {
          width: 100%;

          .mensage-error {
            color: #ffffffe0;
          }
        }

        .content-img-error {
          .img-error {
            text-align: center;
            width: 300px;
          }
        }
      }
    }

    .fundo-blur {
      background-color: rgba(1, 1, 1, 0.744);
    }
  }
}

$color-text: #fff;
$background-dark: rgb(70, 69, 69);

body.darkmode {
  background-color: $background-dark;
  color: $color-text;
}

@media (min-width: 1121px) {
  .borda {
    @include borderSolid();
    @include shadow();
    @include border(5px);
    margin: 80px 10px;

    .content-dark {
      text-align: end;
      width: 100%;
      margin: 10px -10px 10px;

      .button-dark {
        min-width: 50px;
        min-height: 35px;
        background-color: blueviolet;
        @include border(15%);

        .dark-mode {
          margin-top: 5px;
          font-size: 20px;
          color: #fff;
        }

        .sun-mode {
          margin-top: 5px;
          font-size: 20px;
          color: #fff;
        }
      }
    }

    .flex-row {
      padding: 50px 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .content-icon-destaque {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-destaque {
          width: 350px;
          height: 350px;
          display: block;
        }
      }

      .align-center {
        display: flex;
        flex-direction: column;
        width: 100%;

        .container-title {
          .title {
            text-align: center;
            font-size: 50px;
            font-family: "poppins";
            font-weight: 600;
            letter-spacing: 1.5px;
          }

          .title::before {
            content: "";
            width: 175px;
            height: 5px;
            position: absolute;
            margin-top: 67px;
            background-color: blueviolet;
          }

          .title::after {
            content: "";
            width: 175px;
            height: 5px;
            position: absolute;
            margin-top: 2px;
            margin-left: -175px;
            background-color: maroon;
          }
        }

        .content-senha-gerada {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 30px;
          color: blueviolet;
          margin-top: 60px;
          width: 100%;

          .sub-content-senha-gerada {
            background-color: blueviolet;
            @include border(8px);
            color: #fff;
            padding: 5px 0;
            font-size: 20px;
            letter-spacing: 1.5px;
            text-align: center;

            .senha-gerada {
              max-width: 300px;
              min-width: 300px;
              height: 29.8px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .icon-key {
            background-color: blueviolet;
            padding: 5px 20px;
            color: white;
            font-size: 20px;
            @include border(15%);

            .transform-icon-key {
              transform: scaleX(-1) rotate(45deg);
            }
          }

          .icon-copy {
            background-color: blueviolet;
            padding: 5px 20px;
            color: white;
            font-size: 20px;
            @include border(15%);
          }
        }

        .content-option {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          gap: 52.5px;
          margin-top: 45px;

          .sub-content-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blueviolet;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 30px;

            .toggle {
              height: 48px;
              width: 80px;
            }

            .toggle::after {
              height: 44.5px;
              width: 48px;
            }

            .sr-only:checked + .toggle::after {
              transform: translate(27.5px);
            }
          }
        }
      }
    }

    .content-button {
      text-align: center;
      margin: 10px 0 35px;
      font-size: 20px;

      button {
        background-color: blueviolet;
        color: white;
        padding: 5px 20px;
        @include border(5px);
        transition: all 0.2s ease-in-out;
        font-weight: 600;
      }

      button i {
        margin-right: 8px;
      }

      button:hover {
        background-color: rgb(103, 22, 180);
        color: rgba(255, 255, 255, 0.899);
        padding: 5px 20px;
        @include border(5px);
      }
    }
  }

  .modal-error {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 20%;
    @include borderSolid();
    @include shadow();
    @include border(5px);
    padding: 20px;
    z-index: 100;
    background-color: #fff;

    .content-closed {
      text-align: end;
      margin-bottom: 20px;

      .modal-closed {
        background-color: blueviolet;
        color: #fff;
        padding: 8px 10px;
        @include border(5px);
        font-size: 25px;
      }
    }

    .modal-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .content-mensage {
        width: 100%;

        .mensage-error {
          text-align: center;
          font-weight: 600;
          font-size: 25px;
          letter-spacing: 1px;
        }
      }

      .content-img-error {
        .img-error {
          text-align: center;
          width: 300px;
        }
      }
    }
  }

  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
  }

  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
    font-size: 20px;
  }

  //MODO ESCURO PARA DESKTOP
  body.darkmode {
    background-color: $background-dark;
    color: $color-text;

    .content-dark {
      .button-dark {
        background-color: rgba(106, 105, 105, 0.788);

        .dark-mode {
          color: #ffffffe0;
        }

        .sun-mode {
          color: #ffffffe0;
        }
      }
    }

    .borda {
      box-shadow: none;
      border: none;
      background-color: rgb(53, 51, 51);
      border: 1px solid rgb(53, 51, 51);

      .flex-row {
        .align-center {
          .container-title {
            margin: 0;

            .title {
              color: #ffffffe0;
            }

            .title::before {
              content: "";
              width: 175px;
              height: 5px;
              position: absolute;
              margin-top: 67px;
              background-color: #ffffffe0;
            }

            .title::after {
              content: "";
              width: 175px;
              height: 5px;
              position: absolute;
              margin-top: 2px;
              margin-left: -175px;
              background-color: #ffffffe0;
            }
          }

          .content-senha-gerada {
            .sub-content-senha-gerada {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-key {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }

            .icon-copy {
              background-color: rgba(106, 105, 105, 0.788);
              color: #ffffffe0;
            }
          }

          .content-option {
            .sub-content-option {
              color: #ffffffe0;

              .toggle {
                background-color: #afadad;
              }

              .toggle:after {
                background-color: #fff;
              }

              .sr-only:checked + .toggle {
                background-color: rgba(106, 105, 105, 0.788);
              }

              .sr-only:checked + .toggle::after {
                background-color: #ccc;
              }
            }
          }
        }
      }

      .content-button {
        button {
          background-color: rgba(106, 105, 105, 0.788);
        }

        button:hover {
          background-color: rgba(106, 105, 105, 0.395);
          padding: 5px 20px;
          @include border(5px);
        }
      }
    }

    .modal-error {
      background-color: rgb(53, 51, 51);
      box-shadow: none;
      border: 1px solid rgb(53, 51, 51);

      .content-closed {
        .modal-closed {
          background-color: rgba(106, 105, 105, 0.788);
          color: #ffffffe0;
        }
      }

      .modal-flex {
        .content-mensage {
          width: 100%;

          .mensage-error {
            color: #ffffffe0;
          }
        }

        .content-img-error {
          .img-error {
            text-align: center;
            width: 300px;
          }
        }
      }
    }

    .fundo-blur {
      background-color: rgba(1, 1, 1, 0.744);
    }
  }
}
