@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
}

body.darkmode {
  background-color: rgb(70, 69, 69);
  color: #fff;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

@media (max-width: 321px) {
  .borda {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    margin: 40px 10px;
  }
  .borda .content-dark {
    text-align: end;
    width: 100%;
    margin: 10px -10px 10px;
  }
  .borda .content-dark .button-dark {
    background-color: blueviolet;
    min-width: 31px;
    min-height: 31px;
    text-align: center;
    border-radius: 15%;
  }
  .borda .content-dark .button-dark .dark-mode {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
  }
  .borda .content-dark .button-dark .sun-mode {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
  }
  .borda .flex-row {
    padding: 10px;
  }
  .borda .flex-row .content-icon-destaque {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .borda .flex-row .content-icon-destaque .img-destaque {
    width: 250px;
    height: 200px;
  }
  .borda .flex-row .align-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .borda .flex-row .align-center .container-title {
    margin: 0;
  }
  .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 20px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 29px;
    background-color: blueviolet;
  }
  .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 105px;
    height: 3px;
    position: absolute;
    margin-top: -2px;
    margin-left: -105px;
    background-color: maroon;
  }
  .borda .flex-row .align-center .content-senha-gerada {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
    font-size: 15px;
    margin-top: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: blueviolet;
    border-radius: 6px;
    color: #fff;
    padding: 5px;
    letter-spacing: 0.5px;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada .senha-gerada {
    max-width: 190px;
    min-width: 191px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: blueviolet;
    padding: 5px 10px;
    color: white;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key .transform-icon-key {
    transform: scaleX(-1) rotate(45deg);
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: blueviolet;
    padding: 5px 10px;
    color: white;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 25px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    letter-spacing: 1px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    height: 30px;
    width: 50px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle::after {
    height: 26px;
    width: 27px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    transform: translate(19.5px);
  }
  .borda .content-button {
    text-align: center;
    margin: 25px 0 15px;
  }
  .borda .content-button button {
    background-color: blueviolet;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }
  .borda .content-button button i {
    margin-right: 8px;
  }
  .borda .content-button button:hover {
    background-color: rgb(103, 22, 180);
    color: rgba(255, 255, 255, 0.899);
    padding: 8px 10px;
    border-radius: 5px;
  }
  .modal-error {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 20px;
    z-index: 100;
    background-color: #fff;
    z-index: 100;
  }
  .modal-error .content-closed {
    text-align: end;
    margin-bottom: 20px;
  }
  .modal-error .content-closed .modal-closed {
    background-color: blueviolet;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .modal-error .modal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  .modal-error .modal-flex .content-mensage .mensage-error {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 200px;
  }
  .container-modal-clipboard {
    transition: all 0.2s ease-in-out;
  }
  .container-modal-clipboard .content-modal {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 3px;
    background-color: #fff;
    font-size: 14px;
    margin-inline: 10px;
  }
  .container-modal-clipboard .content-modal .content-icon-clipboard {
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    padding: 1px 7px;
  }
  .container-modal-clipboard .content-modal .content-mensage-clipboard {
    font-weight: 600;
    color: rgb(27, 26, 26);
    font-family: "poppins", Courier, monospace;
    letter-spacing: 1px;
  }
  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }
  body.darkmode {
    background-color: rgb(70, 69, 69);
    color: #fff;
  }
  body.darkmode .content-dark .button-dark {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .content-dark .button-dark .dark-mode {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda {
    box-shadow: none;
    border: none;
    border: 1px solid rgb(53, 51, 51);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .borda .flex-row .align-center .container-title {
    margin: 0;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 20px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 29px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 105px;
    height: 3px;
    position: absolute;
    margin-top: -2px;
    margin-left: -105px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    background-color: #afadad;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle:after {
    background-color: #fff;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    background-color: #ccc;
  }
  body.darkmode .borda .content-button button {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .content-button button:hover {
    background-color: rgba(106, 105, 105, 0.395);
    border-radius: 5px;
  }
  body.darkmode .modal-error {
    background-color: rgb(53, 51, 51);
    box-shadow: none;
    border: 1px solid rgb(53, 51, 51);
  }
  body.darkmode .modal-error .content-closed .modal-closed {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  body.darkmode .modal-error .modal-flex .content-mensage .mensage-error {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 300px;
  }
  body.darkmode .container-modal-clipboard .content-modal {
    background-color: rgba(106, 105, 105, 0.488);
    box-shadow: none;
    border: 1px solid rgba(106, 105, 105, 0.488);
    backdrop-filter: blur(5px);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-icon-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-mensage-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .container-modal-clipboard .fundo-blur {
    background-color: rgba(1, 1, 1, 0.444);
  }
  body.darkmode .content-tag-name {
    color: rgba(255, 255, 255, 0.8784313725);
  }
}
@media (min-width: 322px) and (max-width: 576px) {
  .borda {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    margin: 40px 10px;
  }
  .borda .content-dark {
    text-align: end;
    width: 100%;
    margin: 10px -10px 10px;
  }
  .borda .content-dark .button-dark {
    background-color: blueviolet;
    min-width: 30px;
    min-height: 35px;
    text-align: center;
    border-radius: 15%;
  }
  .borda .content-dark .button-dark .dark-mode {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
  }
  .borda .content-dark .button-dark .sun-mode {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
  }
  .borda .flex-row {
    padding: 10px;
  }
  .borda .flex-row .content-icon-destaque {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .borda .flex-row .content-icon-destaque .img-destaque {
    width: 250px;
    height: 200px;
    display: block;
  }
  .borda .flex-row .align-center {
    display: flex;
    flex-direction: column;
  }
  .borda .flex-row .align-center .container-title {
    margin: 20px 0 0;
  }
  .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 33px;
    background-color: blueviolet;
  }
  .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 1px;
    margin-left: -105px;
    background-color: maroon;
  }
  .borda .flex-row .align-center .content-senha-gerada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: blueviolet;
    margin-top: 30px;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: blueviolet;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada .senha-gerada {
    height: 25.5px;
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: blueviolet;
    padding: 6.5px 10px;
    color: white;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key .transform-icon-key {
    transform: scaleX(-1) rotate(45deg);
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: blueviolet;
    padding: 6.5px 10px;
    color: white;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 24.5px;
    margin-top: 25px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    height: 38px;
    width: 60px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle::after {
    height: 34px;
    width: 35px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    transform: translate(21px);
  }
  .borda .content-button {
    text-align: center;
    margin: 35px 0 15px;
  }
  .borda .content-button button {
    background-color: blueviolet;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }
  .borda .content-button button i {
    margin-right: 8px;
  }
  .borda .content-button button:hover {
    background-color: rgb(103, 22, 180);
    color: rgba(255, 255, 255, 0.899);
    padding: 8px 10px;
    border-radius: 5px;
  }
  .modal-error {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 20px;
    z-index: 100;
    background-color: #fff;
  }
  .modal-error .content-closed {
    text-align: end;
    margin-bottom: 20px;
  }
  .modal-error .content-closed .modal-closed {
    background-color: blueviolet;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .modal-error .modal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  .modal-error .modal-flex .content-mensage .mensage-error {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 200px;
  }
  .container-modal-clipboard {
    transition: all 0.2s ease-in-out;
  }
  .container-modal-clipboard .content-modal {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 3px;
    background-color: #fff;
    font-size: 14px;
    margin-inline: 30px;
  }
  .container-modal-clipboard .content-modal .content-icon-clipboard {
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    padding: 1px 7px;
  }
  .container-modal-clipboard .content-modal .content-mensage-clipboard {
    font-weight: 600;
    color: rgb(27, 26, 26);
    font-family: "poppins", Courier, monospace;
    letter-spacing: 1px;
  }
  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }
  body.darkmode {
    background-color: rgb(70, 69, 69);
    color: #fff;
  }
  body.darkmode .content-dark .button-dark {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .content-dark .button-dark .dark-mode {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda {
    box-shadow: none;
    border: none;
    border: 1px solid rgb(53, 51, 51);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .borda .flex-row .align-center .container-title {
    margin: 20px 0 0;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 33px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 105px;
    height: 2px;
    position: absolute;
    margin-top: 1px;
    margin-left: -105px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    background-color: #afadad;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle:after {
    background-color: #fff;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    background-color: #ccc;
  }
  body.darkmode .borda .content-button button {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .content-button button:hover {
    background-color: rgba(106, 105, 105, 0.395);
    border-radius: 5px;
  }
  body.darkmode .modal-error {
    background-color: rgb(53, 51, 51);
    box-shadow: none;
    border: 1px solid rgb(53, 51, 51);
  }
  body.darkmode .modal-error .content-closed .modal-closed {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  body.darkmode .modal-error .modal-flex .content-mensage .mensage-error {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 300px;
  }
  body.darkmode .container-modal-clipboard .content-modal {
    background-color: rgba(106, 105, 105, 0.488);
    box-shadow: none;
    border: 1px solid rgba(106, 105, 105, 0.488);
    backdrop-filter: blur(5px);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-icon-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-mensage-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .fundo-blur {
    background-color: rgba(1, 1, 1, 0.444);
  }
  body.darkmode .content-tag-name {
    color: rgba(255, 255, 255, 0.8784313725);
  }
}
@media (min-width: 577px) and (max-width: 1120px) {
  .borda {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    margin: 40px 10px;
  }
  .borda .content-dark {
    text-align: end;
    width: 100%;
    margin: 10px -10px 10px;
  }
  .borda .content-dark .button-dark {
    background-color: blueviolet;
    min-width: 56px;
    min-height: 53px;
    text-align: center;
    border-radius: 15%;
  }
  .borda .content-dark .button-dark .dark-mode {
    margin-top: 5px;
    font-size: 28px;
    color: #fff;
  }
  .borda .content-dark .button-dark .sun-mode {
    margin-top: 5px;
    font-size: 28px;
    color: #fff;
  }
  .borda .flex-row {
    padding: 10px;
  }
  .borda .flex-row .content-icon-destaque {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .borda .flex-row .content-icon-destaque .img-destaque {
    width: 400px;
    height: 400px;
    display: block;
  }
  .borda .flex-row .align-center {
    display: flex;
    flex-direction: column;
  }
  .borda .flex-row .align-center .container-title {
    margin: 20px 0 0;
  }
  .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 67px;
    background-color: blueviolet;
  }
  .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 2px;
    margin-left: -175px;
    background-color: maroon;
  }
  .borda .flex-row .align-center .content-senha-gerada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: blueviolet;
    margin-top: 60px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: blueviolet;
    border-radius: 10px;
    color: #fff;
    padding: 6.5px 20px;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada .senha-gerada {
    height: 42.7px;
    max-width: 344px;
    min-width: 344px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: blueviolet;
    padding: 6.5px 20px;
    color: white;
    font-size: 28px;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key .transform-icon-key {
    transform: scaleX(-1) rotate(45deg);
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: blueviolet;
    padding: 6.5px 20px;
    color: white;
    font-size: 28px;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 57px;
    margin-top: 45px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    height: 50px;
    width: 100px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle::after {
    height: 46px;
    width: 48px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    transform: translate(47px);
  }
  .borda .content-button {
    text-align: center;
    margin: 55px 0 35px;
    font-size: 25px;
  }
  .borda .content-button button {
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }
  .borda .content-button button i {
    margin-right: 8px;
  }
  .borda .content-button button:hover {
    background-color: rgb(103, 22, 180);
    color: rgba(255, 255, 255, 0.899);
    padding: 5px 10px;
    border-radius: 5px;
  }
  .modal-error {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 10%;
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    padding: 20px;
    z-index: 100;
    background-color: #fff;
  }
  .modal-error .content-closed {
    text-align: end;
    margin-bottom: 20px;
  }
  .modal-error .content-closed .modal-closed {
    background-color: blueviolet;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 30px;
  }
  .modal-error .modal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  .modal-error .modal-flex .content-mensage .mensage-error {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 330px;
  }
  .container-modal-clipboard {
    transition: all 0.2s ease-in-out;
  }
  .container-modal-clipboard .content-modal {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 3px;
    background-color: #fff;
    font-size: 25px;
    margin-inline: 150px;
  }
  .container-modal-clipboard .content-modal .content-icon-clipboard {
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    padding: 1px 7px;
  }
  .container-modal-clipboard .content-modal .content-mensage-clipboard {
    font-weight: 600;
    color: rgb(27, 26, 26);
    font-family: "poppins", Courier, monospace;
    letter-spacing: 1px;
  }
  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }
  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
  }
  body.darkmode {
    background-color: rgb(70, 69, 69);
    color: #fff;
  }
  body.darkmode .content-dark .button-dark {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .content-dark .button-dark .dark-mode {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda {
    box-shadow: none;
    border: none;
    border: 1px solid rgb(53, 51, 51);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .borda .flex-row .align-center .container-title {
    margin: 20px 0 0;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 67px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 2px;
    margin-left: -175px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    background-color: #afadad;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle:after {
    background-color: #fff;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    background-color: #ccc;
  }
  body.darkmode .borda .content-button button {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .content-button button:hover {
    background-color: rgba(106, 105, 105, 0.395);
    border-radius: 5px;
  }
  body.darkmode .modal-error {
    background-color: rgb(53, 51, 51);
    box-shadow: none;
    border: 1px solid rgb(53, 51, 51);
  }
  body.darkmode .modal-error .content-closed .modal-closed {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  body.darkmode .modal-error .modal-flex .content-mensage .mensage-error {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 300px;
  }
  body.darkmode .container-modal-clipboard .content-modal {
    background-color: rgba(106, 105, 105, 0.488);
    box-shadow: none;
    border: 1px solid rgba(106, 105, 105, 0.488);
    backdrop-filter: blur(5px);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-icon-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-mensage-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .fundo-blur {
    background-color: rgba(1, 1, 1, 0.744);
  }
  body.darkmode .content-tag-name {
    color: rgba(255, 255, 255, 0.8784313725);
  }
}
body.darkmode {
  background-color: rgb(70, 69, 69);
  color: #fff;
}

@media (min-width: 1121px) {
  .borda {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    margin: 80px 10px;
  }
  .borda .content-dark {
    text-align: end;
    width: 100%;
    margin: 10px -10px 10px;
  }
  .borda .content-dark .button-dark {
    min-width: 50px;
    min-height: 35px;
    background-color: blueviolet;
    border-radius: 15%;
  }
  .borda .content-dark .button-dark .dark-mode {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
  }
  .borda .content-dark .button-dark .sun-mode {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
  }
  .borda .flex-row {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .borda .flex-row .content-icon-destaque {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .borda .flex-row .content-icon-destaque .img-destaque {
    width: 350px;
    height: 350px;
    display: block;
  }
  .borda .flex-row .align-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .borda .flex-row .align-center .container-title .title {
    text-align: center;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 67px;
    background-color: blueviolet;
  }
  .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 2px;
    margin-left: -175px;
    background-color: maroon;
  }
  .borda .flex-row .align-center .content-senha-gerada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: blueviolet;
    margin-top: 60px;
    width: 100%;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: blueviolet;
    border-radius: 8px;
    color: #fff;
    padding: 5px 0;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada .senha-gerada {
    max-width: 300px;
    min-width: 300px;
    height: 29.8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: blueviolet;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-key .transform-icon-key {
    transform: scaleX(-1) rotate(45deg);
  }
  .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: blueviolet;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    border-radius: 15%;
  }
  .borda .flex-row .align-center .content-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 52.5px;
    margin-top: 45px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    height: 48px;
    width: 80px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .toggle::after {
    height: 44.5px;
    width: 48px;
  }
  .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    transform: translate(27.5px);
  }
  .borda .content-button {
    text-align: center;
    margin: 10px 0 35px;
    font-size: 20px;
  }
  .borda .content-button button {
    background-color: blueviolet;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }
  .borda .content-button button i {
    margin-right: 8px;
  }
  .borda .content-button button:hover {
    background-color: rgb(103, 22, 180);
    color: rgba(255, 255, 255, 0.899);
    padding: 5px 20px;
    border-radius: 5px;
  }
  .modal-error {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 20%;
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    padding: 20px;
    z-index: 100;
    background-color: #fff;
  }
  .modal-error .content-closed {
    text-align: end;
    margin-bottom: 20px;
  }
  .modal-error .content-closed .modal-closed {
    background-color: blueviolet;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 25px;
  }
  .modal-error .modal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  .modal-error .modal-flex .content-mensage .mensage-error {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
  }
  .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 300px;
  }
  .container-modal-clipboard {
    transition: all 0.2s ease-in-out;
  }
  .container-modal-clipboard .content-modal {
    border: 1px solid rgb(148, 50, 240);
    box-shadow: 0px 0px 15px -6px rgb(148, 50, 240);
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 3px;
    background-color: #fff;
    font-size: 20px;
    margin-inline: 450px;
  }
  .container-modal-clipboard .content-modal .content-icon-clipboard {
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    padding: 1px 7px;
  }
  .container-modal-clipboard .content-modal .content-mensage-clipboard {
    font-weight: 600;
    color: rgb(27, 26, 26);
    font-family: "poppins", Courier, monospace;
    letter-spacing: 1px;
  }
  .fundo-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  .content-tag-name {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
    font-size: 20px;
  }
  body.darkmode {
    background-color: rgb(70, 69, 69);
    color: #fff;
  }
  body.darkmode .content-dark .button-dark {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .content-dark .button-dark .dark-mode {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .content-dark .button-dark .sun-mode {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda {
    box-shadow: none;
    border: none;
    background-color: rgb(53, 51, 51);
    border: 1px solid rgb(53, 51, 51);
  }
  body.darkmode .borda .flex-row .align-center .container-title {
    margin: 0;
  }
  body.darkmode .borda .flex-row .align-center .container-title .title {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::before {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 67px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .container-title .title::after {
    content: "";
    width: 175px;
    height: 5px;
    position: absolute;
    margin-top: 2px;
    margin-left: -175px;
    background-color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .sub-content-senha-gerada {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-key {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-senha-gerada .icon-copy {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle {
    background-color: #afadad;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .toggle:after {
    background-color: #fff;
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .flex-row .align-center .content-option .sub-content-option .sr-only:checked + .toggle::after {
    background-color: #ccc;
  }
  body.darkmode .borda .content-button button {
    background-color: rgba(106, 105, 105, 0.788);
  }
  body.darkmode .borda .content-button button:hover {
    background-color: rgba(106, 105, 105, 0.395);
    padding: 5px 20px;
    border-radius: 5px;
  }
  body.darkmode .modal-error {
    background-color: rgb(53, 51, 51);
    box-shadow: none;
    border: 1px solid rgb(53, 51, 51);
  }
  body.darkmode .modal-error .content-closed .modal-closed {
    background-color: rgba(106, 105, 105, 0.788);
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-mensage {
    width: 100%;
  }
  body.darkmode .modal-error .modal-flex .content-mensage .mensage-error {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .modal-error .modal-flex .content-img-error .img-error {
    text-align: center;
    width: 300px;
  }
  body.darkmode .container-modal-clipboard .content-modal {
    background-color: rgba(106, 105, 105, 0.488);
    box-shadow: none;
    border: 1px solid rgba(106, 105, 105, 0.488);
    backdrop-filter: blur(5px);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-icon-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
    background-color: rgb(53, 51, 51);
  }
  body.darkmode .container-modal-clipboard .content-modal .content-mensage-clipboard {
    color: rgba(255, 255, 255, 0.8784313725);
  }
  body.darkmode .fundo-blur {
    background-color: rgba(1, 1, 1, 0.744);
  }
  body.darkmode .content-tag-name {
    color: rgba(255, 255, 255, 0.8784313725);
  }
}

/*# sourceMappingURL=estilo.css.map */
